<%- include ../layouts/cabecera.ejs %>


<form method="POST" action="../actualizar" enctype="multipart/form-data">

 <input type="hidden" name="id " value= <%= libro.id  %> >       

        <div class="form-group">
            <label for="my-input">Nombre:</label>
            <input id="my-input" type="text" class="form-control" name="nombre" value="<%= libro.nombre  %>">

        </div>

        <div class="form-group">
            <label for="my-input">Imagen:</label>
            <img class="img-thumbnail" src=" ../../images/<%= libro.imagen  %>" width="100">
            <input id="my-input" type="file" class="form-control-file"  name="archivo" >

        </div>

        <button class="btn btn-primary" type="submit">Guardar </button>

</form> 